name: Build and deploy

on: [push , pull_request]

jobs:
  built:
    environment:
      name: Test_API
    env:
        DB_HOST: ${{secrets.DB_HOST}}
        DB_PORT: ${{secrets.DB_PORT}}
        DB_USERNAME: ${{secrets.DB_USERNAME}}
        DB_PASSWORD: ${{secrets.DB_PASSWORD}}
        DB_NAME: ${{secrets.DB_NAME}}
        SECRET_KEY: ${{secrets.SECRET_KEY}}
        ALGORITHM: ${{secrets.ALGORITHM}}
        TOKEN_EXPIRATION: ${{secrets.TOKEN_EXPIRATION}}

    # services:
    #   postgresql-x64-14:
    #     image: postgres
    #     env:
    #       POSTGRES_PASSWORD: ${{secrets.DB_PASSWORD}}
    #       POSTGRES_DB: ${{secrets.DB_NAME}}_test
    #     ports:
    #     - 5432:5432
    #     options: >-
    #       --health-cmd pg_isready
    #       --health-interval 10s
    #       --health-timeout 5s
    #       --health-retries 5

    runs-on: windows-latest
    steps:
      - name: setup postgres
        uses: ikalnytskyi/action-setup-postgres@v3
          with:
            username: ${{secrets.DB_USERNAME}}
            password: ${{secrets.DB_PASSWORD}}
            database: ${{secrets.DB_NAME}}_test
            port: ${{secrets.DB_PORT}}
          id: postgres
      - name: pull from git
        uses: actions/checkout@v2
      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install dependencies
        run: pip install -r requirements.txt  
      - name: Test with pytest
        run: |
          pip install pytest
          pytest -v -s     
