name: Build and deploy

on: [push , pull_request]

jobs:
  built:
    environment:
      name: Test_API
    env:
        DB_HOST: ${{secrets.DB_HOST}}
        DB_PORT: ${{secrets.DB_PORT}}
        DB_USERNAME: ${{DB_USERNAME}}
        DB_PASSWORD: ${{DB_PASSWORD}}
        DB_NAME: ${{DB_NAME}}
        SECRET_KEY: ${{SECRET_KEY}}
        ALGORITHM: ${{ALGORITHM}}
        TOKEN_EXPIRATION: ${{TOKEN_EXPIRATION}}

    runs-on: windows-latest
    steps:
      - name: pull from git
        uses: actions/checkout@v2
      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install dependencies
        run: pip install -r requirements.txt  
      - name: Test with pytest
        run: |
          pip install pytest
          pytest -v -s     
